{% extends 'base.html' %}

{% block content %}

        <div>
        <h1 name='signup'>Signup</h1>
        </div>
        
        <form method='POST'>
            <table>
                <tbody>
                <tr>
                    <td>
                    <label for='username'>Username: 
                        <input type='text' name='username' value='{{username}}' />
                        <span class='error'>{{username_error}}</span>
                    </label>
                    </td>
                </tr>
                <tr>
                    <td>
                    <label for='password'>Password: 
                        <input type='password' name='password' />
                        <span class='error'>{{password_error}}</span>
                    </label>
                    </td>
                </tr>
                <tr>
                    <td>
                    <label for='verify_password'>Verify Password:
                        <input type='password' name='verify_password' />
                        <span class='error'>{{ver_password_error}}</span>
                    </label>
                    </td>
                </tr>
                <tr>
                    <td>
                    <label for='email'>Email (optional): 
                        <input type='text' name='email' value='{{email}}' />
                        <span class='error'>{{email_error}}</span>
                    </label>
                    </td>
                </tr>
                </tbody>
            </table>
            <input type='submit' value='Sign Me Up' />

        </form>

{% endblock %}